.sdp .break.solution{
  background-color: white;
  color: #000;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.sdp .break.solution p{
    margin-top: 1rem;
    text-align: justify;
}
.sdp .break.paragraf{
  background-color: white;
  color: #000;
  width: 85%;
  margin: 0 auto;
  text-align: left;
  padding: 4rem 0;
}
.sdp .break.paragraf p{
  padding-bottom: 1rem;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
}
.section-windows {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
    margin-bottom: 4rem;
    padding-top: 3rem;
    align-items: center;
}

.section-windows .teks{
 width: 67%;
}
.section-windows p{
 text-align: justify;
}
.section-windows h1{
line-height: 38px;}
.section-windows .wrap{
 width: 250px;
}
.section-windows .wrap img{
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .section-windows .teks{
    margin-top: 3rem;
   }
  .section-windows {
    display: flex;
    width: 85%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
      margin-bottom: 4rem;
      padding-top: 3rem;
      align-items: center;
  }
}